_build/
tensorly_hdr/build
tensorly_hdr/tensorly_hdr/__pycache__
.vscode
code-workspace
*.log
*.cpython-311.pyc
tensorly_hdr/tensorly_hdr/__pycache__/sep_nmf.cpython-311.pyc
tensorly_hdr/tensorly_hdr/__pycache__/optimal_scaling.cpython-311.pyc
tensorly_hdr/tensorly_hdr/__pycache__/image_utils.cpython-311.pyc
