accessible-pygments==0.0.5
alabaster==0.7.16
anyio==4.14.2
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
asttokens==3.0.2
async-lru==2.3.0
attrs==26.1.0
babel==2.18.0
beautifulsoup4==4.15.0
bleach==6.4.0
bokeh==3.9.2
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
click==8.4.2
comm==0.2.3
contourpy==1.3.3
cuda-bindings==13.3.1
cuda-pathfinder==1.6.0
cuda-toolkit==13.0.3.0
cycler==0.12.1
debugpy==1.8.21
defusedxml==0.7.1
diskcache==5.6.3
dlra @ git+https://github.com/cohenjer/dlra.git@e0fba648b109ad56757455951f4220ad05978547
docutils==0.20.1
executing==2.2.1
fastjsonschema==2.22.2
filelock==3.32.3
fonttools==4.63.0
fqdn==1.5.1
fsspec==2026.7.0
ghp-import==2.1.0
girder-client==5.0.16
greenlet==3.5.5
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.18
imagesize==2.0.0
importlib_metadata==9.0.0
ipykernel==7.3.0
ipython==9.16.1
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.8
isoduration==20.11.0
jedi==0.20.0
Jinja2==3.1.6
json5==0.15.0
jsonpointer==3.1.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
juliacall==0.9.35
juliapkg==0.1.26
jupyter==1.1.1
jupyter-book==1.0.0
jupyter-cache==1.0.1
jupyter-console==6.6.3
jupyter-events==0.12.1
jupyter-lsp==2.3.1
jupyter_builder==1.2.2
jupyter_client==8.9.1
jupyter_core==5.9.1
jupyter_server==2.20.0
jupyter_server_terminals==0.5.4
jupyterlab==4.6.3
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
jupyterlab_widgets==3.0.16
jupytext==1.19.5
kiwisolver==1.5.0
lark==1.3.1
latexcodec==3.0.1
linkify-it-py==2.1.0
markdown-it-py==3.0.0
MarkupSafe==3.0.3
matcouply==0.2.0
matplotlib==3.11.1
matplotlib-inline==0.2.2
mdit-py-plugins==0.6.1
mdurl==0.1.2
mistune==3.3.4
mpmath==1.3.0
mscode @ git+https://github.com/cohenjer/mscode.git@d91f21b4edf50598370ab91e7627a6224babd2e8
myst-nb==1.4.0
myst-parser==2.0.0
narwhals==2.24.0
nbclient==0.11.0
nbconvert==7.17.1
nbformat==5.11.1
nest-asyncio2==1.7.2
networkx==3.6.1
notebook==7.6.2
notebook_shim==0.2.4
numpy==2.4.6
nvidia-cublas==13.1.1.3
nvidia-cuda-cupti==13.0.85
nvidia-cuda-nvrtc==13.0.88
nvidia-cuda-runtime==13.0.96
nvidia-cudnn-cu13==9.20.0.48
nvidia-cufft==12.0.0.61
nvidia-cufile==1.15.1.6
nvidia-curand==10.4.0.35
nvidia-cusolver==12.0.4.66
nvidia-cusparse==12.6.3.3
nvidia-cusparselt-cu13==0.8.1
nvidia-nccl-cu13==2.29.7
nvidia-nvjitlink==13.3.33
nvidia-nvshmem-cu13==3.4.5
nvidia-nvtx==13.0.85
overrides==7.7.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1785888127/work
pandas==3.0.5
pandocfilters==1.5.1
parso==0.8.7
patsy==1.0.2
pexpect==4.9.0
pillow==12.3.0
platformdirs==4.11.3
plotly==6.9.0
prometheus_client==0.26.0
prompt_toolkit==3.0.53
psutil==7.2.2
ptwt==1.0.1
ptyprocess==0.7.0
pure_eval==0.2.3
pybtex==0.26.1
pybtex-docutils==1.0.3
pycparser==3.0
pydata-sphinx-theme==0.17.1
Pygments==2.21.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-json-logger==4.2.0
PyWavelets==1.9.0
PyYAML==6.0.3
pyzmq==27.1.0
referencing==0.37.0
requests==2.34.2
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rpds-py==2026.6.3
scipy==1.17.1
semver==3.0.4
Send2Trash==2.1.0
six==1.17.0
snowballstemmer==3.1.1
soundfile==0.14.0
soupsieve==2.9.2
Sphinx==7.4.7
sphinx-book-theme==1.3.0
sphinx-comments==0.0.3
sphinx-copybutton==0.5.2
sphinx-jupyterbook-latex==1.0.0
sphinx-multitoc-numbering==0.1.3
sphinx-proof==0.4.0
sphinx-thebe==0.3.1
sphinx-togglebutton==0.4.5
sphinx_design==0.7.0
sphinx_external_toc==1.1.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-bibtex==2.7.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
spyrit==3.1.1
SQLAlchemy==2.0.52
stack-data==0.6.3
statsmodels==0.14.6
sympy==1.14.0
tabulate==0.10.0
tensorly @ git+https://github.com/cohenjer/tensorly@7ce2eaa2bbc5a308e5b5d4bf5b0e1a3c0a3c9fcd
tensorly-viz==0.1.8
-e git+ssh://git@github.com/cohenjer/HDR.git@bf679ac1514f8aadcc025e46475376c71650aa84#egg=tensorly_hdr&subdirectory=tensorly_hdr
terminado==0.18.1
tinycss2==1.5.1
tomli==2.4.1
tomlkit==0.15.1
torch==2.13.0
torchvision==0.28.0
tornado==6.5.8
tqdm==4.70.0
traitlets==5.16.1
triton==3.7.1
typing_extensions==4.16.0
tzdata==2026.3
uc-micro-py==2.0.0
uri-template==1.3.0
urllib3==2.7.0
wcwidth==0.8.2
webcolors==25.10.0
webencodings==0.6.1
websocket-client==1.9.0
widgetsnbextension==4.0.15
xarray==2026.7.0
xyzservices==2026.3.0
zipp==4.1.0
